.text{
    display: flex;
    justify-content:center;
    justify-content: space-around;
    margin: 30px auto;
    padding: 40px 10px;
    width: 500px;
    border-radius:12px;
    border-bottom: 5px solid orange;
    border-right: 5px solid orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: orangered;
}

img{
    width:150px;
    border-radius:15px; 
     border-bottom: 3px solid orange;
    border-right: 3px solid orange;
}

.details{
    color: white;
}